<h2>Show Share gallery</h2>

<ul>

  <li>
    <strong>Url:</strong>
    <%= @share_gallery.url %>
  </li>

  <li>
    <strong>Image type:</strong>
    <%= @share_gallery.item_type %>
  </li>

  <li>
    <strong>Image:</strong>
    <%= @share_gallery.item_id %>
  </li>

</ul>

<span><%= link "Edit", to: admin_share_gallery_path(@conn, :edit, @share_gallery) %></span>
<span><%= link "Back", to: admin_share_gallery_path(@conn, :index) %></span>
