<h2>Edit Extinguisher item</h2>

<%= render "form.html", Map.put(assigns, :action, admin_extinguisher_item_path(@conn, :update, @extinguisher_item)) %>

<%= render "gallery.html", Map.put(assigns, :action, admin_extinguisher_item_path(@conn, :update, @extinguisher_item)) %>

<span><%= link "Back", to: admin_extinguisher_item_path(@conn, :index) %></span>
