<h2>Show Device</h2>

<ul>

  <li>
    <strong>Product key:</strong>
    <%= @device.product_key %>
  </li>

  <li>
    <strong>Name:</strong>
    <%= @device.name %>
  </li>

  <li>
    <strong>Secret:</strong>
    <%= @device.secret %>
  </li>

  <li>
    <strong>Iotid:</strong>
    <%= @device.iotid %>
  </li>

</ul>

<span><%= link "Edit", to: admin_device_path(@conn, :edit, @device) %></span>
<span><%= link "Back", to: admin_device_path(@conn, :index) %></span>
